.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-main-image-elm {
  transform: translateX(50px);
}
 
.home-thq-team-section-elm {
  background-color: #c9a600;
}
 
.home-thq-portfolio-img-elm1 {
  transform: translateY(-8px) scaleX(1.05) scaleY(1.05) scaleZ(1.05);
}
 
.home-thq-portfolio-img-elm4 {
  transform: translateX(-75px) translateY(75px) scaleX(1.4) scaleY(1.4) scaleZ(1.4);
}
 
.home-thq-portfolio-footer-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-thq-btn-elm2 {
  width: 248px;
}
 
.home-text3 {
  font-weight: 700;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon22 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text4 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
