.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-social-icon-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-social-icon-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-legal-link-elm1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-thq-footer-legal-link-elm2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
